		</div><!--#site-content-->
		<footer>
			<div class="contentWidth">
				<div class="footerContent">
					<div class="copyright">
						&copy; <span id="year"></span> Vitelo Bedrift. All rights reserved.
					</div>
					<script>
						document.getElementById("year").innerHTML = new Date().getFullYear();
						pageScroll()
					</script>
					<div class="footerLogo">
						<!--<div class="inline">Developed by</div>
						<div class="logo"><img src="<%=bucket%>/images/mobatecLogo.svg"></div>-->
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>