<div id="menu" class="primaryMenu">
	<div class="contentWidth">
		<div class="logo">
			<img src="<%=bucket%>/images/logo.png">
		</div>
		<div class="menu">
			<div class="menuItem">Hjem</div>
			<div class="menuItem">Om oss</div>
			<div class="menuItem">Tjenester</div>
			<div class="menuItem">Attester</div>
			<div class="contactPhoneButton">ANROP</div>
		</div>
		<div class="responsiveHandle" onclick="openMenu(this)">
			<div class="wrap">
				<div class="topBar bar"></div>
				<div class="middleBar bar"></div>
				<div class="bottomBar bar"></div>
			</div>
		</div>
		<script>
			function openMenu(elem){
				var menu = elem.parentElement.getElementsByClassName("menu")[0];
				if(elem.dataset.opened==1){
					//zatvori meni
					menu.classList.remove(menu.classList[0]+"Active");
					elem.classList.remove(elem.classList[0]+"Active");
					elem.dataset.opened = 0;
				}else{
					//Otvori meni
					menu.classList.add(menu.classList[0]+"Active");
					elem.classList.add(elem.classList[0]+"Active");
					elem.dataset.opened = 1;
				}
			}
		</script>
		<div class="contact">
			<div class="button">Contact</div>
		</div>
	</div>
</div>