@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(100,100,100);
    font-size: 16px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent;
    text-decoration: none;
}
a:active,a:hover{
    outline:0
}

a{
    font-weight:700;
    color:rgb(38,56,100);
    text-decoration:underline;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

a:hover{
    color:rgb(141,221,255);
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
h1{
    margin:.67em 0;
    font-size:2em
}
mark{
    color:#000;
    background:#ff0
}
small{
    font-size:80%
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0;
    max-width: 100%;
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    height:0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    margin:0;
    font:inherit;
    color:inherit
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    padding:0;
    border:0
}
input{
    line-height:normal;
}
input[type=checkbox],input[type=radio]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
input[type=search]{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    padding:.35em .625em .75em;
    margin:0 2px;
    border:1px solid silver
}
legend{
    padding:0;
    border:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:700
}
table{
    border-spacing:0;
    border-collapse:collapse
}
td,th{
    padding:0
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.contentWidth{
    width:100%;
    margin:0 auto;
    max-width:960px;
    padding:0 20px;
    position:relative;
}

.primaryMenu{
    background-color:rgb(255,255,255);
    -webkit-box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0.16);
    box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0.16);
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10000;
}

.primaryMenu .logo{
    position:absolute;
    top:50%;
    left:0%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    width:150px;
}

.primaryMenu .contact{
    position:absolute;
    top:50%;
    right:0%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
}

.primaryMenu .contact .button{
    border-radius:6px;
    font-weight:600;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    color:rgb(255,255,255);
    background: rgb(4,159,205);
    background: radial-gradient(circle, rgba(2,75,97,1) 0%, rgba(4,159,205,1) 100%);
    -webkit-box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0.0);
    box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0.0);
    padding:10px;
    cursor:pointer;
}

.primaryMenu .contact .button:hover{
    -webkit-box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0.5);
    box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0.5);
}

.primaryMenu .menu{
    text-align:center;
    width:100%;
    font-size:0;
}

.primaryMenu .menu .menuItem{
    font-size:16px;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    padding:30px 10px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    color:rgb(0,0,0);
    border-top:4px solid rgba(4,159,205,0);
}

.primaryMenu .menu .contactPhoneButton{
    display:none;
    cursor:pointer;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    color:rgb(4,159,205);
    background-color:rgb(255,255,255);
    border:1px solid rgb(0,0,0);
    font-size:20px;
    width:50%;
    margin:0 auto;
    padding:20px 10px;
    font-weight:700;
    margin-top:4px;
}

.primaryMenu .menu .menuItem:hover{
    border-top:4px solid rgba(4,159,205,1);
}

.responsiveHandle{
    top:-200%;
    right:5%;
    width:42px;
    height:30px;
    position:absolute;
    z-index:11000;
}

.responsiveHandle .wrap{
    width:100%;
    height:100%;
}

.responsiveHandle .wrap .bar{
    height:4px;
    position:absolute;
    background-color:rgb(0,0,0);
    border-radius:3px;
    width:100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.responsiveHandle .wrap .topBar{
    top:0;
    left:0;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}

.responsiveHandle .wrap .middleBar{
    top:50%;
    left:0;
    margin-top:-2px;
}

.responsiveHandle .wrap .bottomBar{
    bottom:0;
    left:0;
}

.responsiveHandleActive .wrap .bar{
    background-color:rgb(37,78,118);
}

.responsiveHandleActive .wrap .topBar{
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    transform:rotate(30deg);
    top:44%;
    left:-7%;
    width:116%;
}

.responsiveHandleActive .wrap .bottomBar{
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
    transform:rotate(-30deg);
    top:44%;
    left:-9%;
    width:116%;
}

.responsiveHandleActive .wrap .middleBar{
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
    transform:rotate(-30deg);
    top:48%;
    left:-9%;
    width:116%;
}

.homeHeader{
    width:100%;
    height:calc(100vh - 83px);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    position:relative;
    overflow:hidden;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    top:83px;
}

.homeHeader .contentWidth{
    height:calc(100vh - 83px);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.homeHeader .videoWrap{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:0;
    overflow:hidden;
}

.homeHeader .videoWrap video{
    min-width: 100vw;
    min-height: 100vh;
    max-height:100vh;
}

.homeHeader .overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1000;
    background-color: rgba(0,0,0,0.4);
}

.homeHeader .titleWrap{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    z-index:1100;
    width:100%;
}

.homeHeader h1{
    background-color:rgba(0,0,0,0);
    color:rgb(255,255,255);
    font-size:50px;
    margin-bottom:10px;
    margin-top:0px;
}

.homeHeader h2{
    background-color:rgba(0,0,0,0);
    color:rgb(255,255,255);
    font-size:18px;
    line-height: 26px;
    font-weight:300;
}

.homeHeader .buttonsWrap .button{
    display:inline-block;
    vertical-align: middle;
    border-radius:50px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    color:rgb(255,255,255);
    font-weight:700;
    font-size:22px;
    -webkit-box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0);
    box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0);
    padding:20px;
    background:rgb(4,159,205);
    margin-right:20px;
    cursor:pointer;
    border:1px solid rgb(4,159,205);
}

.homeHeader .buttonsWrap .demo{
    color:rgb(20,42,64);
    background-color: rgb(20,255,20);
}

.homeHeader .buttonsWrap .button:hover{
    -webkit-box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0.5);
    box-shadow: 0 0.1875rem 0.375rem rgb(0, 0, 0, 0.5);
}

.testimonial{
    font-size:0;
    text-align:left;
    margin-top:25px;
    width:50%;
}

.testimonial .box{
    font-size:10px;
    width: 40%;
    display:inline-block;
    vertical-align: middle;
    padding:10px 20px;
    position:relative;
    color:rgb(255,255,255);
}

.testimonial .box .border{
    height:25px;
    width:1px;
    background-color:rgb(255,255,255);
    position:absolute;
    left:0;
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
}

.testimonial .box p{
    margin:0;
}

.testimonial .stars{
    width: 20%;
    font-size:0;
    display:inline-block;
    vertical-align: middle;
    padding-right:10px;
}

.testimonial .stars img{
    width: 20%;
    display:inline-block;
    vertical-align: top;
}

.homeHeader .review{
    margin-top:10px;
    font-size:0px;
}

.homeHeader .review .image{
    display:inline-block;
    vertical-align: middle;
    border:2px solid rgb(4,159,205);
    overflow:hidden;
    border-radius:100%;
    width:50px;
}

.homeHeader .review .quoteWrap{
    display:inline-block;
    vertical-align: middle;
    width:calc(100% - 50px);
    padding-left:10px;
    font-size:14px;
}

.homeHeader .review .quoteWrap .quote{
    font-weight:bold;
    font-style:italic;
    color:rgb(255,255,255);
}

.homeHeader .review .quoteWrap .signature{
    font-weight:500;
    color:rgb(4,159,205);
}

.homeHeader .review .quoteWrap .signature span{
    font-weight:200;
    color:rgb(4,159,205);
}

.white{
    background-color:rgb(255,255,255);
    padding:30px 0;
    position:relative;
}

.white .topFade{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    height:25px;
    position:absolute;
    top:-25px;
    width:100%;
}

.white .bottomFade{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    height:25px;
    position:absolute;
    bottom:-25px;
    width:100%;
}

.lightGrey{
    background-color:rgb(234,239,244);
}

.titleText{
    text-align: center;
}

.titleText .title{
    font-weight:700;
    font-size:28px;
    margin-bottom:20px;
    color:rgb(4,159,205);
}

.titleText .text{
    font-weight:300;
    font-size:16px;
    margin-bottom:20px;
    max-width:700px;
    margin:0 auto;
    color:rgb(0,0,0);
}

.collage{
    background-size:cover;
    background-position:center center;
    min-height:500px;
    position:relative;
}

.collage .imageWrap{
    padding-top:125px;
}

.collage .imageWrap img{
    display:block;
}

.trioBoxes{
    padding:40px 0;
    padding-top:90px;
    position:relative;
}

.trioBoxes .boxes{
    display:flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.trioBoxes .boxes .box{
    width:calc(33% - 20px);
    margin:10px ;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background-color:rgb(255,255,255);
    color:rgb(2,75,97);
    border-radius:20px;
    position:relative;
    padding:0 20px;
    padding-top:100px;
    padding-bottom:40px;
    text-align:center;
}

.trioBoxes .boxes .box .title{
    font-weight:bold;
    font-size:22px;
    margin-bottom:20px;
}

.trioBoxes .boxes .box .text{
    font-weight:200;
    font-size:16px;
}

.trioBoxes .boxes .box .icon{
    position:absolute;
    top:0;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width:100px;
    height:100px;
    border-radius:100%;
    background-color:rgb(4,159,205);
    overflow:hidden;
}

.trioBoxes .boxes .box .icon .relative{
    width:100px;
    height:100px;
    position:relative;
}

.trioBoxes .boxes .box .icon img{
    display:block;
    width:60%;
    margin:0 auto;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position:absolute;
}

.clients .title{
    color:rgb(4,159,205);
    font-weight:700;
    font-size:36px;
    padding-top:30px;
    margin-bottom:30px;
    text-align:center;
}

.clients .logosWrap{
    font-size:0;
    text-align: center;
}

.clients .logosWrap .logo{
    font-size:12px;
    display:inline-block;
    vertical-align: middle;
    width:33.33%;
    position:relative;
    text-align:center;
}

.clients .logosWrap .logo img{
    display:block;
    margin:0 auto;
}

.clients .logosWrap .logo .cb{
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    opacity:1;
    position:relative;
    z-index:500;
}

.clients .logosWrap .logo .color{
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width:100%;
    opacity:0;
}

.clients .logosWrap .logo:hover .color{
    opacity:1;
}

.clients .logosWrap .logo:hover .cb{
    opacity:0;
}


.industryTestimonials{
    background-size:cover;
    background-position:center center;
    padding:60px 0;
    background-color:rgb(4,159,205);
    position:relative;
}

.industryTestimonials .contentWidth{
    display:flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.industryTestimonials .contentWidth .testimonialWrap{
    width:calc(50% - 40px);
    margin:20px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background-color:rgb(255,255,255);
    border-radius:10px;
    border:1px solid rgb(0,0,0);
    padding:20px;
    color:rgb(0,0,0);
}

.industryTestimonials .contentWidth .testimonialWrap .content{
    font-style:italic;
    font-weight:200;
    font-size:14px;
    margin-bottom:20px;
}

.industryTestimonials .contentWidth .testimonialWrap .person{
    font-size:0px;
}

.industryTestimonials .contentWidth .testimonialWrap .person .image{
    display:inline-block;
    vertical-align: middle;
    width: 50px;
    height:50px;
    overflow: hidden;
    border:2px solid rgb(4,159,205);
    border-radius: 100%;
}

.industryTestimonials .contentWidth .testimonialWrap .person .image img{
    display:block;
}

.industryTestimonials .contentWidth .testimonialWrap .person .signature{
    display:inline-block;
    vertical-align: middle;
    font-size:14px;
    width:calc(100% - 50px);
    padding-left:15px;
}

.industryTestimonials .contentWidth .testimonialWrap .person .signature .name{
    font-weight:700;
    color:rgb(4,159,205);
}

.industryTestimonials .contentWidth .testimonialWrap .person .signature .name span{
    font-weight:300;
}

.industryTestimonials .contentWidth .testimonialWrap .person .signature .company{
    font-weight:500;
    color:rgb(4,159,205);
}

.animatedSection{
    overflow-x:hidden;
    overflow-y:hidden;

}

.animatedElem{
    -webkit-transition:all ease 2s;
    -moz-transition:all ease 2s;
    -ms-transition:all ease 2s;
    -o-transition:all ease 2s;
    transition:all ease 2s;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    opacity:1;
}

body .animated .toTopOpacity{
    -webkit-transform: translate(0,100px);
    -moz-transform: translate(0,100px);
    -ms-transform: translate(0,100px);
    -o-transform: translate(0,100px);
    transform: translate(0,100px);
    opacity:0;
}

body .animated .toRightOpacity{
    -webkit-transform: translate(-200px,0);
    -moz-transform: translate(-200px,0);
    -ms-transform: translate(-200px,0);
    -o-transform: translate(-200px,0);
    transform: translate(-200px,0);
    opacity:0;
}

body .animated .toLeftOpacity{
    -webkit-transform: translate(200px,0);
    -moz-transform: translate(200px,0);
    -ms-transform: translate(200px,0);
    -o-transform: translate(200px,0);
    transform: translate(200px,0);
    opacity:0;
}

body .animated .animatedOpacity{
    opacity:0;
}


footer{
    background-color:rgb(255,255,255);
    position:relative;
    padding:20px 0;
}

footer .footerContent{
    border-top:1px solid rgb(4,159,205);
    padding-top:10px;
    color:rgb(4,159,205);
    display:flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    font-size:12px;
}

footer .footerContent .copyright{
    width:50%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

footer .footerContent .footerLogo{
    width:50%;
    font-size:0;
    text-align:right;
}

footer .footerContent .footerLogo .logo{
    width:50px;
    display:inline-block;
    vertical-align: middle;
}

footer .footerContent .footerLogo .inline{
    width:calc(100% - 100px);
    display:inline-block;
    vertical-align: middle;
    font-size:12px;
    padding-right:5px;
}


@media screen and (max-width: 980px) {
    .primaryMenu .logo{
        left:20px;
    }

    .primaryMenu .contact{
        right:20px;
    }

    .homeHeader .titleWrap{
        padding:0px 10px;
    }
}

@media screen and (max-width: 900px) {

    .trioBoxes .boxes .box{
        width:400px;
        margin-top:75px;
    }

    .trioBoxes .boxes .box:first-child{
        margin-top:0px;
    }
}

@media screen and (max-width: 800px) {

    .homeHeader{
        top:50px;
    }
    .primaryMenu .logo{
        position:relative;
        top:auto;
        left:auto;
        -webkit-transform:translateY(0%);
        -moz-transform:translateY(0%);
        -ms-transform:translateY(0%);
        -o-transform:translateY(0%);
        transform:translateY(0%);
        padding:5px 0;
    }

    .primaryMenu .menu{
        position:absolute;
        top:0%;
        height:0vh;
        width:100%;
        left:0;
        overflow:hidden;
        opacity:0;
        -webkit-transition:all ease 0.5s;
        -moz-transition:all ease 0.5s;
        -ms-transition:all ease 0.5s;
        -o-transition:all ease 0.5s;
        transition:all ease 0.5s;
        background: rgb(37,78,118);
        background: linear-gradient(90deg, rgb(2,75,97), rgb(4,159,205));
    }

    .primaryMenu .menu .contactPhoneButton{
        display:block;
    }

    .primaryMenu .menu .menuItem{
        display:block;
        color:rgb(255,255,255);
        font-size:20px;
    }

    .primaryMenu .contact{
        display:none;
    }

    .responsiveHandle{
        top:50%;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        transform:translateY(-50%);
    }

    .primaryMenu .menuActive{
        top:50px;
        height:calc(100vh - 50px);
        overflow:visible;
        opacity:1;
    }

    .contactPhoneButton{
        display:block;
    }
}

@media screen and (max-width: 700px) {
    .industryTestimonials .contentWidth .testimonialWrap {
        width:60%;
    }
}

@media screen and (max-width: 600px) {
    
    .testimonial{
        width:70%;
    }

    .homeHeader h1{
        font-size:40px;
    }

    .homeHeader .titleWrap h2{
        font-size:14px;
        line-height:20px;
    }

    .homeHeader .buttonsWrap .button{
        padding:10px;
        font-size:16px;
    }

    footer .footerContent .footerLogo .inline{
        font-size:10px;
    }
    footer .footerContent .copyright{
        font-size:10px;
    }

    .clients .logosWrap .logo{
        width:45%;
        margin:0 2.5%;
    }

}






